.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

@media (width >=900px) {
  .columns>div {
    flex-direction: unset;
    gap: 3rem;
  }

  .columns>div>div {
    order: unset;
  }

  .columns>div>div:first-child {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-grow: 1;
  }

  .columns>div>div:first-child h3,
  .columns>div>div:first-child p,
  .columns>div>div:last-child p {
    margin: 0;
  }

  .columns>div>div:last-child {
    display: flex;
    align-items: flex-end;
    gap: 14px;
    flex-shrink: 0;
  }

  .columns.columns-2-cols>div>div:first-child {
    display: block;
    width: 66.66%;
  }

  .columns.columns-2-cols>div>div:last-child {
    width: 33.33%;
    flex-direction: column;
    align-items: flex-start;
  }

  .columns-wrapper {
    padding-bottom: 3rem !important;
  }

}

/* West Coast Cycling / adventure detail layout
   Section style: adventure-detail-layout
   Only affects sections that explicitly use this style. */
.section.adventure-detail-layout .columns__item {
  display: grid;
  grid-template-columns: minmax(0, 220px) minmax(0, 1fr);
  column-gap: 3rem;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .section.adventure-detail-layout .columns__item {
    grid-template-columns: 1fr;
  }
}