.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
/* West Coast Cycling / adventure detail layout
   Section style: adventure-detail-layout
   Only affects sections that explicitly use this style. */
.section.adventure-detail-layout .columns__item {
  display: grid;
  grid-template-columns: minmax(0, 220px) minmax(0, 1fr);
  column-gap: 3rem;
  align-items: flex-start;
}

@media (max-width: 900px) {
  .section.adventure-detail-layout .columns__item {
    grid-template-columns: 1fr;
  }
}
