.block.split-section {
    padding: 3rem 0;
}

.split-section__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.split-section__item {
    display: flex;
}

.split-section__item .split-section__content {
    background-color: #ebebeb;
    padding: 3.5em 2em 2em;
}


.split-section__media picture {
    width: 100%;
    height: auto;
    display: block;
}

.split-section__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.split-section__content>*:first-child {
    margin-top: 0;
}

.split-section__content>*:last-child {
    margin-bottom: 0;
}

@media (min-width: 900px) {
    .split-section__item--reversed {
        direction: rtl;
    }

    .split-section__item--reversed>* {
        direction: ltr;
    }

    .split-section__media {
        flex-shrink: 0;
        width: 100%;
        max-width: 60%;
    }

    .split-section__media,
    .split-section__media picture {
        height: 100%;
    }
}