.block.split-section {
  padding: 3rem 0;
}

.split-section__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.split-section__item {
  display: flex;
  align-items: stretch;
}

.split-section__media {
  flex: 1 1 50%;
  overflow: hidden;
}

.split-section__media picture,
.split-section__media img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.split-section__content {
  flex: 1 1 50%;
  background-color: #ebebeb;
  padding: 3.5em 2em 2em;
}

.split-section__content > *:first-child {
  margin-top: 0;
}

.split-section__content > *:last-child {
  margin-bottom: 0;
}

@media (max-width: 899px) {
  .split-section__item {
    flex-direction: column-reverse;
  }

  .block.split-section {
    padding: 1rem 0;
  }

  .split-section__content {
    padding: 20px;
  }

  .split-section__content h2 {
    margin-top: 0.5rem;
  }

  .split-section__media {
    flex: 0 0 auto;
  }
}

@media (min-width: 900px) {
  .split-section__item--reversed {
    flex-direction: row-reverse;
  }

  .split-section__media {
    flex: 0 0 60%;
  }

  .split-section__content {
    flex: 1 1 40%;
  }
}
